# --- Laravel essentials ---
/vendor
/node_modules

.env
.env.*
auth.json

# --- Public build assets ---
/public/build
/public/hot
/public/storage

# --- Storage and logs ---
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/*.log

# Allow uploaded files to be saved to Git (folder only)
/storage/app/public/*
!/storage/app/public/.gitkeep

# --- Laravel testing/dev ---
.phpunit.result.cache
.phpactor.json

# --- Homestead ---
Homestead.json
Homestead.yaml

# --- NPM/Yarn errors ---
npm-debug.log
yarn-error.log

# --- IDEs and tools ---
/.idea
/.vscode
/.nova
/.fleet
/.zed
